{% extends 'base.html' %}
{% load static %}
{% load money %}
{% block page_title %}Finanzas{% endblock %}
{% block breadcrumbs %}<li class="breadcrumb-item active">Finanzas</li>{% endblock %}
{% block content %}
<div class="row g-3 mb-3">
  <div class="col-md-6 col-xl-3"><div class="card p-3"><small>Ingresos hoy</small><h4>{{ ingresos_hoy|money }}</h4></div></div>
  <div class="col-md-6 col-xl-3"><div class="card p-3"><small>Ingresos mes</small><h4>{{ ingresos_mes|money }}</h4></div></div>
  <div class="col-md-6 col-xl-3"><div class="card p-3"><small>Gastos operativos mes</small><h4>{{ gastos_operativos_mes|money }}</h4></div></div>
  <div class="col-md-6 col-xl-3"><div class="card p-3"><small>Margen estimado mes</small><h4>{{ margen_estimado_mes|money }}</h4></div></div>
</div>
<div class="card p-3 mb-3"><strong>Inventario valorizado:</strong> {{ inventario_valorizado|money }}</div>
<div class="row g-3">
  <div class="col-lg-6"><div class="card p-3"><h6>Ventas últimos 30 días</h6><canvas id="salesChart" height="120"></canvas></div></div>
  <div class="col-lg-6"><div class="card p-3"><h6>Top 5 productos por ingresos</h6><canvas id="topProductsChart" height="120"></canvas></div></div>
</div>
{{ chart_sales_labels|json_script:"chart-sales-labels" }}
{{ chart_sales_values|json_script:"chart-sales-values" }}
{{ chart_top_labels|json_script:"chart-top-labels" }}
{{ chart_top_values|json_script:"chart-top-values" }}
{{ chart_expense_labels|json_script:"chart-expense-labels" }}
{{ chart_expense_values|json_script:"chart-expense-values" }}
{% endblock %}
{% block extra_js %}<script src="https://cdn.jsdelivr.net/npm/chart.js"></script><script src="{% static 'js/finance_dashboard.js' %}"></script>{% endblock %}
