<aside class="navbar navbar-vertical navbar-expand-lg" data-bs-theme="light">
  <div class="container-fluid">
    <h1 class="navbar-brand">ROPA ERP</h1>
    <div class="collapse navbar-collapse show"><ul class="navbar-nav pt-lg-3">
      <li class="nav-item"><a class="nav-link" href="{% url 'dashboard:index' %}">Dashboard</a></li>
      <li class="nav-item"><a class="nav-link" href="{% url 'inventory:products' %}">Productos</a></li>
      <li class="nav-item"><a class="nav-link" href="{% url 'inventory:inventory' %}">Inventario</a></li>
      <li class="nav-item"><a class="nav-link" href="{% url 'inventory:catalogs' %}">Categorías y Marcas</a></li>
      <li class="nav-item"><a class="nav-link" href="{% url 'purchases:list' %}">Compras</a></li>
      <li class="nav-item"><a class="nav-link" href="{% url 'purchases:suppliers' %}">Proveedores</a></li>
      <li class="nav-item"><a class="nav-link" href="{% url 'returns:list' %}">Devoluciones</a></li>
      <li class="nav-item"><a class="nav-link" href="{% url 'accounts:user_list' %}">Usuarios</a></li>
    </ul></div>
  </div>
</aside>
